@import url("file:///home/sayooj/.cache/wal/colors-waybar.css");

* {
    font-size: 15px;
    font-family: JetBrains Mono;
    background: @color0;
    color: @color7;
}

window#waybar {
    background: @color0;
    color: @color7;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: @color7;
    background: @color0;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
    color: @color0;
    background: @color7;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery {
    background: @color7;
    color: @color0;
    padding: 0 10px;
}

#workspaces button {
    padding: 0 2px;
    color: @color7;
    background: @color7;
}

#workspaces button.focused {
    color: @color0;
    background: @color7;
}

#workspaces button.urgent {
    color: @color0;
    background: @color7;
}

#workspaces button:hover {
    background: @color7;
    color: @color0;
}

#pulseaudio,
#memory,
#cpu,
#battery,
#clock {
    color: @color0;
}
