@import url("file:///home/sayooj/.cache/wal/colors-waybar.css");

* {
    font-size: 15px;
    font-family: JetBrains Mono;
}

window#waybar {
    background: @color8;
    color: @foreground;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: @background;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: @color8;
    background: @background;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery {
    background: @background;
}

#workspaces button {
    padding: 0 2px;
    color: @foreground;
}
#workspaces button.focused {
    color: @color4;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: @background;
    border: @background;
    padding: 0 3px;
}

#pulseaudio {
    color: @color7;
}
#memory {
    color: @color6;
}
#cpu {
    color: @color5;
}
#battery {
    color: @color4;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery {
    padding: 0 10px;
}
