@import url("file:///home/sayooj/.cache/wal/colors-waybar.css");

window#waybar {
    background: @background;
    color: @foreground;
    border: none;
    padding: 4px 6px;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
}

/* Remove group backgrounds/borders */
#menu,
#datetime,
#workspacegroup,
#stats,
#controls,
#systray,
#ncandpower {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

/* Modules spacing */
.module {
    padding: 0 8px;
}

/* Workspaces */
#workspaces button {
    background: transparent;
    color: @foreground;
    padding: 0 6px;
    border: none;
}

/* Active workspace */
#workspaces button.focused {
    color: @color3;
    text-decoration: underline;
}

/* Hover effect */
button:hover,
.module:hover {
    background: alpha(@color3, 0.08);
}

/* Urgent workspace */
#workspaces button.urgent {
    color: @color1;
}
