#root.root {--tabs-height: 36px;}
#root.root {--tabs-inner-gap: 8px;}
#root.root {--tabs-margin: 4px;}
#root.root {--tabs-font: 16px sans-serif;}
#root.root {--tabs-count-font: 16px sans-serif;}
#root.root {--general-margin: 4px;}
#root.root {--general-border-radius: 0px;}

.Tab[data-active="true"] .body {
	border: 2px solid #ef944dff !important;
	border-radius: 0px;
}

.NavigationBar .main-items .nav-item[data-class="panel"] .name-box {
	border-width: 2px !important;
}

#root[data-act-el-color-scheme="dark"] {
	--active-el-shadow: none;
}

.NavigationBar .nav-item[data-active="true"] {
	border: 1px solid #ef944dff !important;
}
