
/* Import pywal GTK-style colors */
@import "../../.cache/wal/colors-waybar.css";

/* Using pywal colors:
   darkest: @color0
   lightest: @color15
*/

* {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: @color15;
}

window#waybar {
    background: @color0;
    color: @color15;
}

#clock,
#memory,
#wireplumber,
#battery,
#network,
#bluetooth,
#custom\/wall,
#workspaces {
    padding: 0 8px;
    color: @color15;
}

#workspaces button {
    padding: 0 6px;
    color: @color15;
}

#workspaces button.active {
    background: @color2;
    border-radius: 4px;
}

/* Hover */
#custom\/wall:hover,
#memory:hover,
#wireplumber:hover,
#battery:hover,
#network:hover,
#bluetooth:hover {
    background: @color1;
    border-radius: 4px;
}

